html {
  background: radial-gradient(circle,rgba(63, 94, 251, 1), rgba(252, 70, 107, 1));
  align-items: center;
}

body {
  width: 1920px;
  margin: 0 auto;
  background-color: transparent;
}

.topnav {
  background-color: transparent;
  overflow: hidden;
  margin: 0 auto;
  height: initial;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  color: black;
  font-size: 20px;
}


.topnav a.active {
  background-color:  rgb(0, 217, 255);
  color: white;
  font-size: 24px;
}

h1{
  text-align : center;
}

p{
  text-align : center;
}