html {
  background: linear-gradient(45deg, #ff105f, #ffad06);
  background-attachment: fixed;
}

body {
  margin: 0 auto;
  background-color: transparent;
}

table {
  margin: auto;
  width: 50%;
}

td {
  border-width:1px; 
  border-style: solid; 
  border-color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

td:hover {
  background: linear-gradient(#ff105f, #ffad06);
}

h1{
  text-align : center;
}

.topnav {
  background-color: transparent;
  overflow: hidden;
  margin: 0 auto;
  height: auto;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  font-size: 17px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 20px;
}


.topnav a.active {
  border-radius: 10px;
  color: rgba(63, 94, 251, 1), rgba(252, 70, 107, 1);
  font-size: 24px;
}

p{
  text-align : center;
  font-size: 24px;
  background: linear-gradient(to right, #ff105f, #ffad06);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}