html, body {
  height: 100%;
  margin: 0;
}

html {
  background: radial-gradient(rgb(0, 217, 255), #f04e09);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  width: 1920px;
  margin: 0 auto;
  background-color: transparent;
  padding: 0 20px 20px 20px;  
}

table {
 border-width:1px; 
 border-style:solid; 
 border-color: rgb(0, 217, 255);
 width:50%;
 margin: 0 auto;
 }
td{ 
 border-width:1px;
 border-style:solid; 
 border-color: rgb(0, 217, 255);
 width:50%;
 }

td:hover {
  background-color: rgb(0, 217, 255);
  color: white;
  font-size: 20px;
}

h1{
  text-align : center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  margin: 0 auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: transparent;
  color: black;
  font-size: 20px;
}


.topnav a.active {
  background-color:  rgb(0, 217, 255);
  color: white;
  font-size: 24px;
}