html {
  background: linear-gradient(to right, #095228, #1d4851);
  font-family: 'Segoe UI';
}

body {
  margin: 0 auto;
  background-color: transparent;
}

.topnav {
  align-items: center ;
  overflow: hidden;
  width: 200px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  height: 40px;
  padding: 10px;
  transition: 0.4s;
}

.topnav a {
  border-color: #232323;
  border-style: solid;
  border-width: 2px;
  color: #cfcfcf;
  text-align: center;
  padding: 14px;
  font-size: 17px;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.4s;
}

.topnav a:hover {
  font-size: 20px;
}


.topnav a.active {
  background: linear-gradient(to left, #095228, #1d4851);
}

.topnav a.inactive {
  background-color: #303030;
}

h1{
  text-align : center;
  color : #cfcfcf;
  background: linear-gradient(to left, #095228, #1d4851);
  border-color:#232323;
  border-width: 2px;
  border-style: solid;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

p{
  text-align : center;
  color:#cfcfcf;
}

table {
  margin: auto;
  width: 50%;
  color: #cfcfcf;
}

td {
  border-width:2px; 
  border-style: solid; 
  border-color: #232323;
  border-radius: 10px;
  background-color: #303030;
  text-align: center;
  padding: 10px;
  transition: 0.4s;
}

td:hover {
  background: linear-gradient(to left, #095228, #1d4851);
  font-size: 18px;
}

img {
  display: block;
  margin: auto;
  width: 400px;
  height: 400px;
  padding: 20px;
}

footer {
  text-align: center;
  color: #cfcfcf;
  border-style: solid;
  border-color: #232323;
  border-width: 4px;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
  background-color: #303030;
}